%link{'rel' => 'stylesheet', 'href' => 'stylesheets/reset.css', 'type' => 'text/css'}
%link{'rel' => 'stylesheet', 'href' => 'stylesheets/sass/main.css', 'type' => 'text/css'}
%link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Lobster&v2', 'type' => 'text/css' }
%link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Tienne&v2', 'type' => 'text/css' }
