!!! 5
%html
  %head
    %title How about that Weather?
    = haml :head
    %script{ :src => 'javascript/main.js', :type => 'text/javascript' }
  %body
    #main
      %h1 How about that Weather?
      %h2 
        %form{ :type => "POST", :action => "/" }
          %span &hellip; in
          %input{ :type => :text, :id => "zip", :name => "zip", 
                  :placeholder => "     Zip Code", :value => @zip }

      - if @temps != nil
        %ul
          - @current = ""
          - for temp in @temps
            - if @current != temp[:time].strftime(@dateformat)
              %li.day 
                %pre
                  %span= temp[:time].strftime(@dateformat) 
            %li.data
              %canvas{ "data-hour" => temp[:time].strftime("%H") }
              %span.time= temp[:time].strftime("%H:%M") 
              %span.temp= temp[:temp]
            - @current = temp[:time].strftime(@dateformat)
      #footer
        :markdown
          Built by Nick Canzoneri, [email](canzoneri.nicholas@gmail.com) or [twitter](https://twitter.com/#!/ac3522).
            
          Code available on [Github](https://github.com/ac3522/howaboutthatweather). 
            
          Powered by [NOAA](http://www.weather.gov/forecasts/xml/rest.php).
