body {
  width: 100%; }

#main {
  width: 550px;
  height: 100%;
  margin: 0px auto; }
  #main h1 {
    font-family: "Lobster", serif;
    font-size: 300%;
    margin-top: 5%;
    margin-left: 10%; }
  #main h2 {
    font-family: "Lobster", serif;
    font-size: 200%;
    text-align: right;
    width: 535px; }
    #main h2 input {
      font-family: "Lobster", serif;
      font-size: 150%;
      color: #5798f0;
      border: none;
      border-bottom: 1px dashed #5798f0;
      width: 250px; }
  #main ul li {
    width: 535px;
    clear: both; }
  #main ul li.day {
    background-color: #eeeeee; }
    #main ul li.day span {
      font-family: "Lobster", serif;
      font-size: 100%; }
  #main ul li.data {
    margin: 10px 0px;
    border-bottom: 1px dashed #5798f0;
    overflow: hidden; }
    #main ul li.data span.time {
      font-family: "Tienne", serif;
      font-size: 120%;
      float: left;
      margin-left: 10%; }
    #main ul li.data span.temp {
      font-family: "Tienne", serif;
      font-size: 200%;
      float: right;
      text-align: right; }
