body {
  width: 100%; }

canvas {
  width: 60px;
  height: 25px; }

#main {
  width: 550px;
  height: 100%;
  margin: 0px auto; }
  #main h1 {
    font-family: "Lobster", serif;
    font-size: 340%;
    margin-top: 5%; }
  #main h2 {
    font-family: "Lobster", serif;
    font-size: 200%;
    text-align: right;
    width: 535px;
    margin-bottom: 10px; }
    #main h2 input {
      font-family: "Lobster", serif;
      font-size: 120%;
      color: #5798f0;
      border: none;
      border-bottom: 1px dashed #dddddd;
      width: 200px;
      text-align: center; }
    #main h2 input:focus {
      outline: none;
      border-bottom-color: #5798f0; }
  #main ul li {
    width: 535px;
    clear: both; }
  #main ul li.day {
    background-color: #eeeeee; }
    #main ul li.day span {
      font-family: "Lobster", serif;
      font-size: 100%; }
  #main ul li.data {
    margin: 10px 0px;
    border-bottom: 1px dashed #5798f0;
    overflow: hidden; }
    #main ul li.data span.time {
      font-family: "Tienne", serif;
      font-size: 120%; }
    #main ul li.data span.temp {
      font-family: "Tienne", serif;
      font-size: 200%;
      float: right;
      text-align: right; }
  #main #footer {
    font-family: "Tienne", serif;
    font-size: 80%;
    margin-top: 70px;
    text-align: center; }
    #main #footer a, #main #footer a:visited {
      color: black; }
