$blue: #5798f0
$mainfont: 'Lobster'
$subfont: 'Tienne'

@mixin fontdef($font, $size)
  font-family: $font, serif
  font-size: $size

body
  width: 100%
#main
  width: 550px
  height: 100%
  margin: 0px auto
  h1
    @include fontdef($mainfont, 300%)
    margin-top: 5%
    margin-left: 10%
  h2
    @include fontdef($mainfont, 200%)
    text-align: right
    width: 535px
    input
      @include fontdef($mainfont, 150%)
      color: $blue
      border: none
      border-bottom: 1px dashed $blue
      width: 250px
  ul
    li
      width: 535px
      clear: both
    li.day
      background-color: #eee
      span
        @include fontdef($mainfont, 100%)
    li.data
      margin: 10px 0px
      border-bottom: 1px dashed $blue
      overflow: hidden
      span.time
        @include fontdef($subfont, 120%)
        float: left
        margin-left: 10%
      span.temp
        @include fontdef($subfont, 200%)
        float: right
        text-align: right
