$blue: #5798f0

.align-center
  text-align: center
#query
  margin: 0px auto
#header
  font-family: 'Lobster', serif
  h1
    font-size: 3.5rem
  h2
    font-size: 2.5rem
  input
    font-size: 4rem
    font-family: 'Lobster', serif
    color: $blue
    border: none
    border-bottom: 1px dashed #ddd
    width: 100%
    text-align: center
    &:focus
      outline: none
      border-bottom-color: $blue
