.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

#query {
  margin: 0px auto; }

#header {
  font-family: "Lobster", serif; }
  #header h1 {
    font-size: 3.5rem; }
  #header h2 {
    font-size: 2.5rem; }
  #header input {
    font-size: 4rem;
    font-family: "Lobster", serif;
    color: #5798f0;
    border: none;
    border-bottom: 1px dashed #dddddd;
    width: 100%;
    text-align: center; }
    #header input:focus {
      outline: none;
      border-bottom-color: #5798f0; }

ul {
  font-size: 3rem;
  font-family: "Tienne", sans-serif; }
  ul li.data.row {
    margin-bottom: 3rem; }

#footer {
  text-align: center; }

.deg:after {
  content: "\00b0"; }

.deg.high {
  color: #85092d; }

.deg.low {
  color: #5798f0; }
